@import "../styles/variables";

.block {
  position: absolute;
  display: flex;
  align-items: flex-start;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  //border: 1px solid #000;
  background: blue;
  transition: box-shadow 0.2s;
  overflow: hidden;

  &--drag {
    box-shadow: 3px 3px 12px #000;
    z-index: 1000;
  }

  &__head {
    height: 20px;
    width: 100%;
    background: $dark-blue;
  }
}
