.drag-area {
  position: relative;
  width: 700px;
  height: 700px;
  max-width: 100%;
  max-height: 100%;
  background: #a2aebb;
  border-radius: 10px;
  border: 2px solid #1c3144;
  overflow: hidden;
}